<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kunwoo Yoon's portfolio</title>
<meta name="description" content="Portfolio for potential world-renowned software engineer Colin(Kunwoo Yoon">
<meta name="author" content="Colin">
<link rel="icon" type= "image/png" href="imgs/favicon.png"/>
<script src="https://kit.fontawesome.com/8543c20214.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">