
        <%- include('partials/header'); %>
         <%- include('partials/main-nav'); %>
 <!-- About -->
    <section id="about" class="section section__container">
        <h1>About Me</h1>
        <p>I am software engineering development student at Centennial College. I am currently looking for Co-op. I am eager to learn new languages and real-field working environment. 
            I have ability to accept an obstacle and make it as a opportunity. I also have travelled many countries and now love this country more than anyone.</p>
        <div class="about__majors">
                <div class="major">
                    <div class="major__icon">
                        <i class="fab fa-html5"></i>
                    </div>
                    <h2 class="major__title">Front-end</h2>
                    <div class="major__description">HTML, CSS, JavaScript</div>   
                </div>

                <div class="major">
                    <div class="major__icon">
                        <i class="fab fa-stack-exchange"></i>
                    </div>
                    <h2 class="major__title">Back-end</h2>
                    <div class="major__description">C#, Java, Oracle SQL, MY SQL</div>   
                </div>
            </div>     
    </section>
</body>
</html>