<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunwoo Yoon's portfolio</title>
    <meta name="description" content="Portfolio for potential world-renowned software engineer Colin(Kunwoo Yoon">
    <meta name="author" content="Colin">
    <link rel="icon" type= "image/png" href="imgs/favicon.png"/>
    <script src="https://kit.fontawesome.com/8543c20214.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
        <!-- Navbar -->
        <nav id="navbar">
            <div class="navbar__logo">
            <img src="imgs/favicon.png" alt="Kunwoo_Yoon" class="kw" style='vertical-align:middle; display:inline;'>
            <a href="#" >Colin</a>
            </div>
            <div class="navbar__menu">
             <ul>
                <li class="navbar__menu__item"><a href="index">Home</a></li>
                <li class="navbar__menu__item"><a href="/aboutMe">About me</a></li>
                <li class="navbar__menu__item" data-link="#skills">Projects</li>
                <li class="navbar__menu__item" data-link="#work">Service</li>
                <li class="navbar__menu__item" data-link="#contact">Contact</li>
             </ul>
            <!-- Toggle button-->
            <button class="navbar__toggle-btn">
                <i class="fas fa-bars"></i>
            </button>
            </div>
        </nav>
        <h1>sdsdfdsfdsfds</h1>
        
</body>
</html>