<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <!-- home -->
    <section id="home">
        <div class="home__container">
            <img src="imgs/kunwoo.jpg" alt="Colin's profile photo" class="home__avatar"/>
            <h1 class="home__title">Hello, <br>I am Kunwoo Yoon(Colin)</h1>
            <h2 class="home__description">I am software engineering student in Toronto</h2>
            <button class="home__contact" data-link="#contact">Contact Me</button>
            
        </div>
        <footer>
            <%- include('partials/footer'); %>
        </footer>
    </section>

</body>
</html>