<%- include('partials/header'); %>
<%- include('partials/main-nav'); %>
    <!-- home -->
    <div class="wrapper">
    <section id="service">
        <div class="service__container">
            <h1 class="service__title">Web Design &<br>Development</h1>
            <h2 class="service__description">Client-focused, customer-centric, creating website solutions that deliver tangible business results, Appnovation's web developers helps brands the ever-changing digital landscape.</h2>
        </div>
<%- include('partials/bottom_nav'); %>     
    </section>
    </div>

<%- include('partials/footer'); %>