/*Global*/
:root{
/*color*/
--color-deep-blue: #153756;
--color-white:#fff;
/* Font */
--font-large:48px;
--font-medium:28px;
--font-regular:18px;
--font-small:16px;
--font-micro:14px;

/* Font weight */
--weight-bold: 700;
--weight-semi-bold:600;
--weight-regular:400;

/* size */
--size-border-radius:4px;
/* animation duration */
--animation-duration:300ms;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    background-image: url("/imgs/home.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body, html {
    height: 100%;
  }
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typography*/
h1{
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-deep-blue);
    margin:16px 0;
}
h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-deep-blue);
    margin:8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight:var(--weight-regular);
    color: var(--color-deep-blue);

    margin:8px 0;
}
p{
    font-size: var(--font-regular);
    font-weight:var(--weight-regular);
    color: var(--color-deep-blue);
    margin:4px 0; 
}

/* Section common */
.section{
    padding: 50px;;
    text-align: center;
    margin: auto;
}

/*Navbar*/
#navbar{
    display:flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 16px;
    width: 100%;
    z-index: 1; 
    position: fixed;
    color: var(--color-white);
}

.kw{
    height: 25px;
    width: 25px;
    display: block;  
}
.navbar__menu{
    display: flex;
}
.navbar__menu ul{
    display: flex;
}
.navbar__menu__item{
    padding: 8px 12px;
    margin:0 4px;
    cursor: pointer;
    color: #EEEEEE;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
    font-size: 20px;
}
.navbar__menu__item a{
    cursor: pointer;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover{
    border: 1px solid white;
    border-radius: var(--size-border-radius);
    background-color: var(--color-deep-blue);
}
.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
}
.navbar__toggle-btn{
    color:var(--color-white);
}
/* Home */
#home{
    padding: 40px 40px 0 40px;
    padding-top:80px;
    text-align: center;
}
.home__avatar{
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 3px solid var(--color-deep-blue);
    margin-top: 60px;
}
.home__title,
.home__description{
    color: var(--color-deep-blue);
}
.home__contact{
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid white;
    font-size: var(--font-regular);
    color: var(--color-white);
    background-color: var(--color-deep-blue);
    border-radius: var(--size-border-radius);
 
  
}
.home__contact:hover {
    transition: all 1s ease;
    transform: scale(1.5) perspective(1px);
}


/* About me */
#about{
    padding: 40px 40px 0 40px;
    text-align: center;
    padding-top: 120px;
    position: relative;
}
.about__majors{
    display: flex;
    justify-content: space-around;
    margin:60px 0;
}
.major__icon{
    width: 200px;
    height: 170px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    border-radius: 50%;
    font-size: 70px;
    line-height: 170px;
    margin-bottom: 10px;
    margin-right: 0;
}
.major__icon i {
    transition: var(--animation-duration);
}
.major__icon:hover i{
    color: white;
    transform: rotate(-20deg) scale(1.1);
}