/*Global*/
:root{
/*color*/
--color-deep-blue: #153756;
--color-white:#fff;
--color-deep-grey:#8d8d8d;
/* Font */
--font-large:48px;
--font-medium:28px;
--font-regular:18px;
--font-small:16px;
--font-micro:14px;

/* Font weight */
--weight-bold: 700;
--weight-semi-bold:600;
--weight-regular:400;

/* size */
--size-border-radius:4px;
/* animation duration */
--animation-duration:300ms;
}

* {
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;

  }
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
/* Typography*/
h1{
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-deep-blue);
    margin:16px 0;
}
h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-deep-blue);
    margin:8px 0;
}
h3{
    font-size: var(--font-regular);
    font-weight:var(--weight-regular);
    color: var(--color-deep-blue);

    margin:8px 0;
}
p{
    font-size: var(--font-regular);
    font-weight:var(--weight-regular);
    color: var(--color-deep-blue);
    margin:4px 0; 
}

/* Section common */
.section{
    padding: 50px;
    text-align: center;
    margin: auto;
}
.wrapper{
    background-image: url("/assets/imgs/home.jpg");
    background-position: center;
    background-size: auto;
    background-size: cover;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

/*Navbar*/
#navbar.navbar--dark{
    background-color: var(--color-deep-blue);
    padding: 8px;
    transition: all var(--animation-duration) ease-in-out;
    padding: 0 8px;
}
#navbar.navbar--dark area{
    color: var(--color-white);
}

#navbar{
    display:flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 16px;
    width: 100%;
    z-index: 1; 
    position: fixed;
    color: var(--color-white);
}
#navbar a{
    color: var(--color-white);
}

.kw{
    height: 25px;
    width: 25px;
    display: block;  
}
.navbar__menu{
    display: flex;
}
.navbar__menu ul{
    display: flex;
}
.navbar__menu__item{
    padding: 8px 12px;
    margin:0 4px;
    cursor: pointer;
    color: #EEEEEE;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
    font-size: 20px;
}
.navbar__menu__item a{
    cursor: pointer;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover{
    border: 1px solid white;
    border-radius: var(--size-border-radius);
    background-color: var(--color-deep-blue);
}
.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
}
.navbar__toggle-btn{
    color:var(--color-white);
}
/* Home */
#home{  
    padding: 40px 40px 0 40px;
    padding-top:80px;
    text-align: center;
    
}
.home__avatar{
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 3px solid var(--color-deep-blue);
    margin-top: 60px;
}
.home__title,
.home__description{
    color: var(--color-deep-blue);
}
.home__contact{
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid white;
    font-size: var(--font-regular);
    color: var(--color-white);
    background-color: var(--color-deep-blue);
    border-radius: var(--size-border-radius);
 
  
}
.home__contact:hover {
    transition: all 1s ease;
    transform: scale(1.5) perspective(1px);
}


/* About me */
#about{
    padding: 40px 40px 0 40px;
    text-align: center;
    padding-top: 120px;
    position: relative;
}
.about__majors{
    display: flex;
    justify-content: space-around;
    margin:60px 0;
}
.major__icon{
    width: 200px;
    height: 170px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    border-radius: 50%;
    font-size: 70px;
    line-height: 170px;
    margin-bottom: 10px;
    margin-right: 0;
}
.major__icon i {
    transition: var(--animation-duration);
}
.major__icon:hover i{
    color: white;
    transform: rotate(-20deg) scale(1.1);
}
/* skills */
#skills{
    background-color: #bcbcbc;
}
.skill{
    margin-bottom: 8px;
}
.skillset{
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
}
.skillset__title{
   color:var(--color-deep-blue);
}
.skillset__left{
    flex-basis: 60%;
    background-color:var(--color-dark-grey);
    padding: 20px 40px;
}
.skillset__right{
    flex-basis: 40%;
    color:var(--color-deep-blue);
}
.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill__value{
    height: 3px;
    background-color: var(--color-orange);
}
.skill__description{
    display: flex;
    justify-content: space-between;
    color:var(--color-deep-blue);
}
.tools{
    background-color:var(--color-grey);
}
.tools,
.etc{
    padding: 20px;
}


/* Contact */
.contact__title,
.contact__email,
.Contact__right{
    color:var(--color-deep-blue);
}
.contact__title{
    margin: 32px 0;
}
.contact__link{
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease;
}
.contact__link i{
    color:#8d8d8d;
}
.contact__link i:hover{
    transform: scale(1.1);
    color: var(--color-light-white);
}
.container__form, label{
    display: flex;
    justify-content: center;
}
.container__form, label{
    flex-direction: column;
    color: var(--color-deep-blue);
    font-size: 16px;
}
.container__form{
    padding: 50px;
	position:relative;
	margin-right: auto;
	margin-left: auto;
	top:7%;
	width:50%;
	border-radius: 7px;
	opacity: 0.85;
}
.container__form input ,textarea{
    border:1px solid #e5e5e5;
    padding-left: 5px;
}
.container__form input ,textarea{
    border:1px solid #e5e5e5;
    padding-left: 5px;
}
.button__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.button__box button{
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid white;
    font-size: var(--font-regular);
    color: var(--color-white);
    background-color: var(--color-deep-blue);
    border-radius: var(--size-border-radius);
}

#footer{
    color: var(--color-deep-blue);
}


@media screen and (max-width: 768px){
    :root{
     /* Font */
    --font-large:30px;
    --font-medium:18px;
    --font-regular:16px;
    --font-small:14px;
    --font-micro:12px;
    }
    .elementor:not(.elementor-edit-area-active) .elementor-hidden-phone {
        display: block !important;
    }
    .navbar__toggle-btn{
        display: block;
        top: 16px;
        right: 16px;
        font-size: var(--font-medium);
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-deep-blue);
    }
    #navbar.navbar--dark{
        padding: 16px;
    }


    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display:none;
    }
    .navbar__menu ul{
        flex-direction: column;
    }
    
    .navbar__menu.open{
        display: block;
    }
    .section{
        padding: 16px;
        padding-top: 40px;
    }
 
}
